@import "helpers/const";
@import "helpers/mixins";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before, &:after{
    box-sizing: border-box;
  }
}

body {
  background-color: $GREY;
  @include font();
}

a {
  text-decoration: none;
}

.main {
  .tab{
    color: #AAA;
    &.active{
      color: #000;
    }
  }

  .tabs-content {
    &> div {
      width: 600px;
      height: 800px;

      &.config{
         > button{
          float: right;
          margin-top: 10px;
        }
        > textarea{
          width: 600px;
          height: 700px;
        }
      }
      &.result{
        border: 1px solid #000;
        padding: 10px;

        .element-wrapper {
          display: flex;
          justify-content: space-between;
          align-content: flex-end;
          >div{
            margin: 5px;
            padding: 5px;
            flex: 1 1 0;
          }
        }

        > .buttons{
          display: flex;
          justify-content: flex-end;
          align-content: flex-end;
          button{
            margin: 5px;
            padding: 5px;
            flex: 0 1 0;
          }
        }
      }
    }
  }
}