* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.content > div {
    display: none;
    width: 600px;
    height: 800px;
}

.content > div.active {
    display: block;
}

.content > .config > button {
    float: right;
    margin-top: 10px;
}

.content > .config > textarea {
    width: 600px;
    height: 700px;
}

.content > .result {
    border: 1px solid #000;
    padding: 10px;
}

.content > .result > .buttons{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

.content > .result > .buttons button{
    margin: 5px;
    padding: 5px;
    flex: 0 1 0;
}

.tab {
    color: #AAA;
}

.tab.active {
    color: #000;
}

.element-wrapper {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}

.element-wrapper > div {
    margin: 5px;
    padding: 5px;
    flex: 1 1 0;
}